* {
    margin: 0;
    padding: 0;
}

head, body {
    height: 100%;
    width: 100%;
}

/* Universal classes */
.divMain{
  max-width: 720px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin:0 auto;
}

.heading3{
  color: #111;
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold;
}

.text1{
  color: #111;
  font-size: 1rem;
}

.spacing{
  margin: 2rem auto 2rem;
}

/*Name, description and dark theme toggle */
.divName{
  margin: 2rem auto 1rem;
}

.heading1{
  color: #FFA500;
  font-size: 3rem;
  font-weight: bold;
}

.theme-toggle input[type="checkbox"]{
  display: none;
  }
.theme-toggle input[type="checkbox"] + label{
  background-image: url("Images/moon1.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
}
.theme-toggle input[type="checkbox"]:checked + label {
  background-image: url("Images/sunny1.png");
}

.heading2{
  color: #111;
  font-size: 1.5rem;
  padding-top: -1rem;
}

/* Socials */
.fa-envelope{
  color: #c71610;
}
.fa-linkedin{
  color: #007bb5;
}
.fa-github-square{
  color: #111;
}
.fa-instagram{
  color: #e95950;
}
/* About Me */
.p-padding {
  padding-bottom: 1rem;
}


/* Projects */
.heading4{
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.text2{
  color: #FFA500;
  font-size: 1rem;
}

.project-container{
  padding-bottom: 2rem;
}
/* Portfolio */
.portfoio-imgs {
  padding-bottom: 1rem;
}

/* Media Queries */
/* Tablet */
@media screen and (min-width:640px) {
  .divName{
    margin: 10rem auto 1rem;
  }
  .spacing{
    margin: 5rem auto 5rem;
  }
}


/* Laptop */
@media screen and (min-width:769px) {
  .divName{
    margin: 10rem auto 1rem;
  }
  .spacing{
    margin: 5rem auto 5rem;
  }
}

/* Large Screen */
@media screen and (min-width:1300px) {
  .divName{
    margin: 10rem auto 1rem;
  }
  .spacing{
    margin: 5rem auto 5rem;
  }
}
